body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dagny-100, h2.filter-item-heading {
  font-family: "ff-dagny-web";
  font-weight: 100;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-200, .filter-section h1.filter-title {
  font-family: "ff-dagny-web-pro";
  font-weight: 200;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-300, body {
  font-family: "ff-dagny-web";
  font-weight: 300;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-400 {
  font-family: "ff-dagny-web-pro";
  font-weight: 400;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-500 {
  font-family: "ff-dagny-web-pro";
  font-weight: 700; }

.dagny-600 {
  font-family: "ff-dagny-web-pro";
  font-weight: 900; }

.reg-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0; }

@media (min-width: 30em) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }

  .col {
    display: table-cell; } }
body {
  margin: 0;
  padding: 0; }

.body-wrapper {
  position: relative;
  transition: left 0.5s;
  left: 0px;
  left: 325px; }

nav {
  position: relative;
  background: #00AD63;
  padding: 20px 0; }
  nav i.ion-navicon {
    position: absolute;
    left: 20px;
    top: 15px;
    color: #fff;
    font-size: 32px; }
  nav h1 {
    color: #fff;
    margin: 0;
    margin-left: 60px; }

.filter-section {
  position: absolute;
  left: -325px;
  top: 0px;
  width: 325px; }
  .filter-section h1.filter-title {
    text-align: center;
    margin: 0;
    height: 64px;
    line-height: 64px;
    background: white;
    color: #5F7D8C; }
    .filter-section h1.filter-title i {
      margin-right: 10px;
      color: #8FA4AF; }

.filter-item-container {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
  border-right: 1px solid #CFD8DC; }

h2.filter-item-heading {
  width: 100%;
  position: relative;
  background: #ECEFF1;
  margin: 0;
  padding: 16px 0;
  color: #8FA4AF; }
  h2.filter-item-heading span {
    padding-left: 20px; }
  h2.filter-item-heading i.icon {
    position: absolute;
    right: 20px;
    color: #8FA4AF; }

.filter-item-search-container {
  width: 100%;
  background: #7DD3FC; }
