body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dagny-100 {
  font-family: "ff-dagny-web";
  font-weight: 100;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-200, .right-side-col p {
  font-family: "ff-dagny-web-pro";
  font-weight: 200;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-300, body, html {
  font-family: "ff-dagny-web";
  font-weight: 300;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-400 {
  font-family: "ff-dagny-web-pro";
  font-weight: 400;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.dagny-500, .right-side-col h1 {
  font-family: "ff-dagny-web-pro";
  font-weight: 700; }

.dagny-600 {
  font-family: "ff-dagny-web-pro";
  font-weight: 900; }

.reg-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0; }

@media (min-width: 30em) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }

  .col {
    display: table-cell; } }
body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

.body-wrapper {
  position: relative;
  transition: left 0.5s;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #F89985; }

.row {
  height: 100%; }

.left-side-col {
  background: #F89985;
  height: 100%;
  vertical-align: middle;
  text-align: center; }

.right-side-col {
  background: white;
  height: 100%;
  vertical-align: middle;
  text-align: center; }
  .right-side-col h1 {
    font-size: 50px;
    margin: 20px auto; }
  .right-side-col p {
    padding: 0 20px;
    max-width: 85%;
    margin: 0 auto;
    font-size: 22px;
    line-height: 28px; }

.main-gallery {
  transition: 0.3s background; }

.gallery-cell {
  width: 100%; }

.flickity-page-dots {
  bottom: 20px; }

li.dots {
  background-color: red;
  transition: 0.3s opacity !important; }

.ion-heart {
  color: #F56B5C; }
