
// colors
$gray-500: #263238;
$gray-400: #445A64;
$gray-300: #5F7D8C;
$gray-200: #8FA4AF;	
$gray-100: #CFD8DC;
$gray-000: #ECEFF1;
//
$red-500: #BC0D00;
$red-400: #D21202;
$red-300: #E81716;
$red-200: #F56B5C;	
$red-100: #F89985;
$red-000: #FEE0DB;
//
$blue-500: #00559D;
$blue-400: #0086D4;
$blue-300: #00A7F7;
$blue-200: #7DD3FC;	
$blue-100: #B1E5FD;
$blue-000: #E0F5FF;
//
$green-500: #025932;
$green-400: #01834B;
$green-300: #00AD63;
$green-200: #4CC27D;	
$green-100: #92D6AE;
$green-000: #C5E3D2;
//
$orange-500: #E34F00;
$orange-400: #F16C00;
$orange-300: #F77C00;
$orange-200: #FF9901;	
$orange-100: #FFCD7A;
$orange-000: #FFF3DF;
// touch events / selection
body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// fonts
$dagny-tk: 'ff-dagny-web-pro';
$dagny-light: 'ff-dagny-web';

.dagny-100 {
  font-family: $dagny-light;
  font-weight: 100;
        font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}

.dagny-200{
	font-family: $dagny-tk;
  font-weight: 200;
        font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}
.dagny-300{
	font-family: $dagny-light;
  font-weight: 300;
      font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}

.dagny-400{
	font-family: $dagny-tk;
  font-weight: 400;
        font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}
.dagny-500{
  font-family: $dagny-tk;
  font-weight: 700;
}
.dagny-600{
	font-family: $dagny-tk;
  font-weight: 900;
}

// extend typography
.reg-list{
	list-style: none;
  	padding: 0;
  	margin: 0;
  	text-indent: 0;
}

// ungrid
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}


body, html{
	@extend .dagny-300;
	margin: 0;
	padding: 0;
	height: 100%;
}
.body-wrapper{
	position: relative;
	transition: left 0.5s;
	left: 0px;
	height: 100%;
	width: 100%;
	background: $red-100;
}

.row{
	height: 100%;
}

/// *************************
/// *************************
// left side
/// *************************
/// *************************

.left-side-col{
	background: $red-100;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}
/// *************************
/// *************************
// right side
/// *************************
/// *************************

.right-side-col{
	background: white;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	h1{
		@extend .dagny-500;
		font-size: 50px;
		margin: 20px auto;
	}

	p{
		padding: 0 20px;
		max-width: 85%;
		margin: 0 auto;
		@extend .dagny-200;
		font-size: 22px;
		line-height: 28px;
	}
}

/// *************************
/// *************************
//  flickty gallery
/// *************************
/// *************************

.main-gallery{
	transition: 0.3s background;
}
.gallery-cell{
	width: 100%;
}

.flickity-page-dots{
	bottom: 20px;

}
li.dots{
	background-color: red;
		transition: 0.3s opacity !important;
	}

/// *************************
/// *************************
//  2nd slide
/// *************************
/// *************************
.ion-heart{
	color: $red-200;
}









